/* *{
    margin: 0;
    padding:0;
} */
/* body{
    max-width: 1600px;
} */
.logo{
    
    cursor: pointer;
    margin: 13px 38px;
}
.logo img{
   
    filter: invert(12%);
    width: 50px;
    border-radius: 15px;

}
.logo img:hover{
    filter: invert(1%);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ece9de;;
    margin-bottom: 3px;
    box-shadow: 0px 1px 11px #282828
}
.navBar{
    display: flex;
    flex-direction: column;
    margin: 13px 38px;
    cursor: pointer;
    /* justify-content: ; */
}
.navBar span {
    background-color: red;
    /* color: red; */
    width: 23px;
    height: 1px;
    margin: 2px;
}




.nav-links-box{
    display: none;
    z-index: 1111111;
    position: absolute;
    
}


.nav-links{
    background: black;
    color: white;
    margin-left: 16px;
    height: 89vh;
    margin-top: 0px;
    padding: 0px;
  
    
}
.nav-links li{
    padding: 45px 0px;
    list-style: none;
    cursor: pointer;
    margin: 0px 38px;
}
.nav-links li:hover{

}

 .nav-links li a{
    text-decoration: none;
}
.sub-links{
    display: none;
}
.animated-box{
    animation: slide-fade-box 0.6s ease-out forwards;
    display: block;
}
.animate{
    display: block;
    animation: slide-fade 0.6s ease-out forwards;
}
@keyframes slide-fade {
    0%{
        opacity: 0;
      transform: translateX(-10vw) scale(1);
    }
   100%{
       opacity: 1;
       transform: translateX(calc(100vw - 156.74px)) scale(1);
   }
}
@keyframes slide-fade-box  {
    0%{
        transform: translateX(calc(100vw - 156.74px)) scale(1);
    }
   100%{
       opacity: 0;
       display: none;
     transform: translateX(-10vw) scale(1);
   }
}
.cross-div-one{
    transform: rotate(45deg);
    width: 23px;
    height: 1px !important;
    margin: 0px !important;
}

.cross-div-sec{
    display: none;
}
.cross-div-three{
    transform: rotate(-45deg);
    width: 23px;
    height: 1px !important;
    margin: 0px !important;
  
}