body{
  background-color: #b0816d;
  
}
.heading{
  width: 50%;
  z-index: 1;
  margin-top: 37px;
  margin-left: 82px;
  position: absolute;

}
.heading h1{
  font-size: 77px;
  color: #4daaa4;
  transform: translate(0%, 0%);
}
.heading p{
  width: 43%;
  color: white;
}
.mainImg{
  width: 50%;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
  transform: rotate(19deg);
  margin-left: 25vw;


}
 .hero-section{
  width: 50%;
  background: #ffffff00;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  margin-top: 27vh !important;
  /* transform: rotate(346deg); */
  margin-left: 45vw;


}
.hero-section p{
  color: white;
  width: 35%;
  top: 36px;
  position: relative;
  left: -178px;
  z-index: 1;
}
.mainImg img{
  padding: 23px;
    background:white;
    width: 88%;
    
    
  }
  .hero-section img{
    padding: 23px;
    background: white;
    width: 84%;
    transform: rotate(344deg);
}
.agile__nav-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    width: 80px;
  }
  .agile__nav-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .agile__nav-button--prev {
    left: 0;
  }
  .agile__nav-button--next {
    right: 0;
  }
  .agile__dots {
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  .agile__dot {
    margin: 0 10px;
  }
  .agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
  }
  .agile__dot--current button, .agile__dot:hover button {
    background-color: #fff;
  }
  
  .slide {
    display: block;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .arrow{
    margin-top: 42px;
    float: right;
  }
  .hero-img img{
    width: 100%;
  }
  .hero-img {
    /* background-image: url("../6.webp"); */

  }